<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title></title>
  </head>

  <body>
    <p>&nbsp;</p>
    <h3 style="text-align: center; color: #3f7320;">Проект для Московского Политеха.</h3>
    <h3 style="text-align: center; color: #3f7320;">Тема. Прототип системы контроля вебинаров.</h3>
    <p></p>
    <!-- Этот комментарий виден только в редакторе исходного кода -->
    <p><strong>&nbsp; &nbsp;Задание: спроектировать и реализовать прототип системы контроля вебинаров.</strong></p>
    <p><strong>&nbsp; &nbsp;Участники:</strong></p>
    <p><strong>&nbsp; &nbsp; &nbsp; Макаров Леонид Сергеевич, студент группы 181-362, backend разработчик,&nbsp;database разработчик</strong></p>
    <p><strong>&nbsp; &nbsp; &nbsp; Шукуров Фотех Фуркатович, студент группы 181-362, backend разработчик, DevOps</strong></p>
    <p><strong>&nbsp; &nbsp; &nbsp; Внешние партнеры: отсутствуют</strong></p>
    <p><strong>&nbsp; &nbsp;Ход работы:</strong></p>
    <ul>
      <li><strong>Запущен первый прототип генератора расписания</strong></li>
      <li><strong>Запущен модуль контроля состояния вебинара</strong></li>
      <li><strong>Было реализованна рассылка писем</strong></li>
      <li><strong>Был исправлен баг с невозможностью подключения к google api</strong></li>
    </ul>
    <p><strong>Полезные ссылки:</strong><strong></strong></p>
    <ul>
      <li><a href="https://github.com/AlanLatte/mami_webinar"><strong>git репозиторий</strong></a></li>
      <li><a href="https://drive.google.com/file/d/1SRCoLuGKh_3C_0jNiM76zbLLC__zDDR0/view?usp=sharing"><strong>ссылка на видео презентацию</strong></a></li>
    </ul>
  </body>
</html>
